<html><head>
<meta charset="utf8">
<!-- If you choose to use jQuery, you might want this link:-->
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<script type="text/javascript" src="memory-cards.js"></script>
<script type="text/javascript" src="memory-game.js"></script>
<script type="text/javascript" src="memory-gui.js"></script>
<link rel='stylesheet' type='text/css' href='memory-gui.css'>
<script type="text/javascript" src="memory-main.js"></script>
</head><body>
<div id='memorygame'></div>
</body></html>
