/* Whatever CSS you want for GUI...*/

#memorygame {
	
}

table tr td {
    width: 70px;
    height: 70px;
    background: lightgreen;
    border: 1px solid lightgrey;
}

.green {
    background: lightgreen;
}

.white {
    background: white;
}
